src/create_db_v1.1.py
src/create_db_v1.2.py
src/create_db_v1.3.py
src/create_db_v1.4.py
src/create_db_v1.5.py
src/create_db_v1.6.py
src/create_db_v1.7.py
src/create_db_v1.8.py
src/create_db_v1.10.py
src/create_db_v1.11.py
src/extract_text_v1.2.py
src/extract_text_v1.3.py
src/extract_text_v1.3.2.py
src/extract_text_v1.4.py
src/extract_text_v1.5.py
src/extract_text_v2.py
src/extract_text_v3.py
venv/
data/

apikey.env
